<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zxc.laitooo.warewolfonline">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />




    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


    <uses-feature android:glEsVersion="0x00020000" android:required="true" />

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAPTURE_VIDEO_OUTPUT" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/logo6"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/myTheme"
        android:usesCleartextTraffic="true">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".activities.SplashScreenActivity"
            android:theme="@style/myTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.SignUpActivity"
            android:theme="@style/myTheme"/>
        <activity android:name=".activities.LoginActivity"
            android:theme="@style/myTheme"/>
        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/myTheme" />
        <activity
            android:name=".activities.GameActivity"
            android:theme="@style/myTheme" />
        <activity
            android:name=".activities.ChatActivity"
            android:theme="@style/myTheme"/>
        <activity
            android:name=".activities.GroupActivity"
            android:theme="@style/myTheme"/>
        <activity
            android:name=".activities.GameRulesActivity"
            android:theme="@style/myTheme"/>
        <activity
            android:name=".activities.GroupMembersActivity"
            android:theme="@style/myTheme"/>
        <activity android:name=".activities.GameOverActivity"
            android:theme="@style/myTheme"/>
        <activity android:name=".activities.RuleDetailsActivity"
            android:theme="@style/myTheme"/>
        <activity android:name=".activities.ReviewActivity"
            android:theme="@style/myTheme"/>
    </application>

</manifest>
